{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Down the Aisle</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis nibh, lobortis id justo quis, volutpat rhoncus tellus. Pellentesque rhoncus rutrum ante, vitae gravida massa feugiat vitae. Donec convallis odio justo. Nullam et tellus sit amet neque ultrices mattis. Duis id elementum tellus. Nulla facilisi. Sed bibendum urna non euismod semper.</p>

    </div>
  </main>
{% endblock %}
